@charset "UTF-8";
/*como essa é a versão para mobile first, não precisa fazer versao de telas pequenas*/
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
html{    
    height: 100vh;
}
body{
    background: black url("../imagens/back-phone.jpg") no-repeat;
    background-size: cover;
    background-position: center center;
    
}
main{
    width: 400px;
    background-color: rgba(255, 255, 255, 0.83);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
}
 h1{   
    text-align: center;
    color: white;
    font-size: 2em;
    text-shadow:2px 2px 0px rgba(0, 0, 0, 0.726)
    
}
 img{
    display: block;
    margin: auto;
    
}

img#fone{display:block;}
img#tablet{display: none;}
img#pc{display: none;}
img#tv{display: none;}
img#impressora{display: none;}